{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Qing Wen</h2>
    <img src="{% static 'img/photo.jpg' %}" alt="My Photo">
    <br>
    <p>Aspiring Data Analyst and incoming Data Science Master’s Student at New York University. Admitted by Brown, NYU, Duke, and CMU with proven internships at Sailvan Times, HypeX, and Tencent. Led high-impact projects at Sailvan Times that achieved significant outcomes such as reducing inventory-related losses by 9% and boosting partner selection accuracy by 10%. </p>
    <p>Demonstrated proficiency in Python, R, SQL, and diverse analytics tools. Well-versed in machine learning, business intelligence, and project management. Originally graduated from UCSD with a Bachelor’s in Applied Mathematics and a Minor in Economics. Currently seeking 2024 summer analyst internships in the United States.</p>
    <p>Languages: Python, SQL, R, JavaScript, MATLAB </p>
    <p>Tools/Technologies: Jira, Excel, Python UnitTest, Python Web Framework  </p>
    <p>Certifications: Python Programming Certificate - UC San Diego Extended Study  </p>
    <p>Concepts: Business Intelligence, Forecasting, Market Research, Project Management, Quantitative & Qualitative Research, Statistics </p>
    <p>Feel free to reach out to me at qw919@nyu.edu </p>
        <br>
        <a href="{% static 'resume/QW Resume 7.27.pdf' %}" download>Download Resume</a>
</body>
</html>